  <header class="">


<div class="fixed w-100 bb b--black pt3 pl2 pr2 pb3 ">

    <nav class="w-third-ns f6 fw6 fl ttu tracked">
      <a class="link dim black dib mr3" href="#" title="Home">Locations</a>
      <a class="link dim black dib mr3" href="#" title="About">Menu</a>
    </nav>

    <nav class="w-third-ns f6 fw6 fl tc ttu tracked">
      <a class="link dim black dib mr3" href="#" title="Home">The Wydown</a>
    </nav>

    <nav class="w-third-ns f6 fw6 fl tr ttu tracked">
    <a class="link dim black dib mr3" href="#" title="Store">About</a>
    <a class="link dim black dib" href="#" title="Contact">Gallery</a>
    </nav>
</div>

</header>
