<header class="center mw9 ph5-m ph6-l ph3 fixed w-100 ph3 pt3 bg-white dn db-l">

<div class="pb4 bb b--black">

    <nav class="w-third-ns f6 fw6 fl ttu tracked">
      <a class="link dim black dib mr3" href="/Wydown/location01.html" title="Locations">Locations</a>
      <a class="link dim black dib mr3" href="#" title="menu">Menu</a>
    </nav>

    <nav class="w-third-ns f6 fw6 fl tc ttu tracked">
      <a class="link dim black dib mr3" href="/Wydown/index.html" title="Home">The Wydown</a>
    </nav>

    <nav class="w-third-ns f6 fw6 fl tr ttu tracked">
    <a class="link dim black dib mr3" href="/Wydown/about.html" title="About">About</a>
    <a class="link dim black dib" href="#" title="Gallery">Gallery</a>
    </nav>
</div>

</header>


<header class="ph5-m ph6-l ph3 fixed w-100  pt3 bg-white db dn-l">

<div class="pb4 bb b--black">


	<nav class="w-50 f6 fw6 fl ttu tracked">
		<a class="link dim black" href="/Wydown/index.html" title="Home">The Wydown</a>
	</nav>


	<nav class="f6 fw6 fr ttu tracked">
		<a class="link dim black mr0" href="#" title="Home">	&#9776</a>
	</nav>



</div>

</header>
