  <header class="">


<div class="fixed w-100 bb b--black pa3">

    <nav class="w-third-ns f6 fw6 fl ttu tracked">
      <a class="link dim black dib mr3" href="/{{ site.baseurl }}/location01.html" title="Locations">Locations</a>
      <a class="link dim black dib mr3" href="#" title="Menu">Menu</a>
    </nav>

    <nav class="w-third-ns f6 fw6 fl tc ttu tracked">
      <a class="link dim black dib mr3" href="/{{ site.baseurl }}/index.html" title="Home">The Wydown</a>
    </nav>

    <nav class="w-third-ns f6 fw6 fl tr ttu tracked">
    <a class="link dim black dib mr3" href="/{{ site.baseurl }}/about.html" title="About">About</a>
    <a class="link dim black dib" href="/{{ site.baseurl }}/gallery.html" title="Gallery">Gallery</a>
    </nav>
</div>

</header>
